.product-list__li {
    list-style: none;
}
body, html {
    margin: 0;
    padding: 0;
}

.category {
    padding: 10px;
    clear: left;
    height: 350px;
}

.category__title {
    font-size: 26px;
}

.category__products {
}